.page-nudge {
	.page-nudge-inner {
		position: fixed;
		bottom:0px;
		right:0px;
		width:206px;
		height:26px;
		padding:4px 8px;
		background-color: @item-color;

		button {
			font-size:12px;
			padding:2px;
			margin-left:5px;
		}
	}
}