<div class="page-nudge-inner">
	<div class="scroll-nudge display-none">Scroll down when ready <button class="got-it">GOT IT</button></div>
	<div class="plp-nudge display-none">
		<div class="triangle"/>
		<div class="plp-nudge-content">Click here to view your progress <button class="got-it">GOT IT</button></div>
	</div>
	<div class="complete-nudge display-none">
		<div class="triangle"/>
		<div class="complete-nudge-content">Click here to return to the menu <button class="got-it">GOT IT</button></div>
	</div>
</div>
